<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <Service name="Catalina">
    	
        {% if _jira_proxy_enabled|bool and not jira_catalina_connector_ssl_enabled %}
		<!-- Jira connector unsecured and behind Reverse Proxy (NB: Relaxing chars because of JRASERVER-67974) -->
        <Connector	port="${catalina.connector.port}"
        			relaxedPathChars="[]|" 
        			relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
        			maxThreads="150" 
        			minSpareThreads="25" 
        			connectionTimeout="${catalina.connector.connexionTimeout}" 
        			enableLookups="false"
        			maxHttpHeaderSize="8192"
        			protocol="HTTP/1.1"
        			useBodyEncodingForURI="true"
        			redirectPort="${catalina.connector.redirect.port}"
        			scheme="${catalina.connector.scheme}" 
        			secure="${catalina.connector.secure}"
        			proxyName="${catalina.connector.proxyName}"
        			proxyPort="${catalina.connector.proxyPort}"
        			acceptCount="100"
        			disableUploadTimeout="true"
        			bindOnInit="false"/>
		{% elif _jira_proxy_enabled|bool and jira_catalina_connector_ssl_enabled and not jira_catalina_connector_ssl_implementation_jsse %}
		<!-- Jira connector secured and behind reverse proxy and SSL APR (Apache Portable Runtime - OpenSSL) Enabled (NB: Relaxing chars because of JRASERVER-67974) -->
        <Connector	port="${catalina.connector.port}"
        			relaxedPathChars="[]|" 
        			relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
        			maxThreads="150" 
        			minSpareThreads="25" 
        			connectionTimeout="${catalina.connector.connexionTimeout}" 
        			enableLookups="false"
        			maxHttpHeaderSize="8192"
        			protocol="HTTP/1.1"
        			useBodyEncodingForURI="true"
        			scheme="https" 
        			secure="true"
        			SSLEnabled="true"
        			SSLCertificateFile="${catalina.connector.ssl.certificate.file}"
        			SSLCertificateKeyFile="${catalina.connector.ssl.key.file}"
        			SSLVerifyClient="none"
        			acceptCount="100"
        			disableUploadTimeout="true"
        			bindOnInit="false"/>
        {% elif _jira_proxy_enabled|bool and jira_catalina_connector_sslenabled and jira_catalina_connector_ssl_implementation_jsse %}
		<!-- Jira connector secured and behind reverse proxy and SSL JSSE (Java Secure Socket Extension - KeySore) Enabled (NB: Relaxing chars because of JRASERVER-67974) -->
        <Connector	port="${catalina.connector.port}"
        			relaxedPathChars="[]|" 
        			relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
        			maxThreads="150" 
        			minSpareThreads="25" 
        			connectionTimeout="${catalina.connector.connexionTimeout}" 
        			enableLookups="false"
        			maxHttpHeaderSize="8192"
        			protocol="HTTP/1.1"
        			useBodyEncodingForURI="true"
        			scheme="https" 
        			secure="true"
        			SSLEnabled="true"
        			clientAuth="false"
        			keystoreFile="${catalina.connector.ssl.keystore.file}"
        			keystorePass="${catalina.connector.ssl.keystoreFile.pass}"
        			keyAlias="${catalina.connector.ssl.keystoreFile.alias}"
        			acceptCount="100"
        			disableUploadTimeout="true"
        			bindOnInit="false"/>
        {% else %}
        <!-- Default connector -->
        <Connector	port="${catalina.connector.port}"
        			relaxedPathChars="[]|" 
        			relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"
        			maxThreads="150" 
        			minSpareThreads="25" 
        			connectionTimeout="${catalina.connector.connexionTimeout}" 
        			enableLookups="false"
        			maxHttpHeaderSize="8192"
        			protocol="HTTP/1.1"
        			useBodyEncodingForURI="true"
        			redirectPort="${catalina.connector.redirect.port}"
        			scheme="${catalina.connector.scheme}" 
        			secure="${catalina.connector.secure}"
        			acceptCount="100"
        			disableUploadTimeout="true"
        			bindOnInit="false"/>
		{% endif %}
		
        {% if _jira_proxy_enabled|bool and jira_catalina_connector_proxy_ajp|bool %}
		<!-- Jira with behind proxy with AJP (NB: Relaxing chars because of JRASERVER-67974) -->
        <Connector	port="${catalina.connector.ajp.port}"
        			URIEncoding="UTF-8" 
        			enableLookups="false" 
        			protocol="AJP/1.3"/>
        {% endif %}
        
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">

                <Context path="${catalina.context.path}" docBase="${catalina.home}/atlassian-jira" reloadable="false" useHttpOnly="true">
                    <Resource name="UserTransaction" auth="Container" type="javax.transaction.UserTransaction"
                              factory="org.objectweb.jotm.UserTransactionFactory" jotm.timeout="60"/>
                    <Manager pathname=""/>
                    <JarScanner scanManifest="false"/>
                    <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="120" />
                </Context>

            </Host>
            <Valve className="org.apache.catalina.valves.AccessLogValve"
                   pattern="%a %{jira.request.id}r %{jira.request.username}r %t &quot;%m %U%q %H&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; &quot;%{jira.request.assession.id}r&quot;"/>
        </Engine>
    </Service>
</Server>
